{
    email {$CADDY_EMAIL}
}

{$CADDY_DOMAIN} {
    header {
        # Prevent clickjacking / ensures content is loaded securely
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    reverse_proxy app:8000

    log {
        output stdout
        format json
    }
}
